<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing infrastructure -->

	<!-- Scans within the base package of the application for @Components to configure as beans -->
	<!-- @Controller -->
	<context:component-scan base-package="it.cecchi.smarthome.web" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<!-- the mvc resources tag does the magic -->
	<mvc:resources mapping="/assets/**" location="/assets/" />

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<!-- Used here for 'xml' and 'atom' views -->
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
					<property name="order" value="1" />
				</bean>
				<!-- Used for Thymeleaf views -->
				<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
					<property name="templateEngine" ref="templateEngine" />
					<property name="excludedViewNames">
						<array>
							<value>layout/*</value>
						</array>
					</property>
					<property name="order" value="2" />
				</bean>
				<!-- Used for Thymeleaf views with Tiles -->
				<!-- <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver"> -->
				<!-- <property name="templateEngine" ref="templateEngine" /> -->
				<!-- <property name="order" value="3" /> -->
				<!-- <property name="viewClass" value="org.thymeleaf.spring4.view.ThymeleafView"/> -->
				<!-- </bean> -->
			</list>
		</property>
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="pdf" value="application/pdf" />
				<entry key="xsl" value="application/vnd.ms-excel" />
				<entry key="xml" value="application/xml" />
				<entry key="json" value="application/json" />
			</map>
		</property>
	</bean>

	<!-- Thymeleaf configuration -->
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
		<property name="cacheable" value="false" />
	</bean>

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
		<property name="additionalDialects">
			<set>
				<!-- <bean class="org.thymeleaf.extras.tiles2.dialect.TilesDialect"/> -->
				<bean class="nz.net.ultraq.thymeleaf.LayoutDialect" />
				<bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect" />				
			</set>
		</property>
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>

	<!-- <bean class="org.thymeleaf.extras.tiles2.spring4.web.configurer.ThymeleafTilesConfigurer"> -->
	<!-- <property name="definitions"> -->
	<!-- <array> -->
	<!-- <value>/WEB-INF/views/layout/tiles-defs.xml</value> -->
	<!-- </array> -->
	<!-- </property> -->
	<!-- </bean> -->

</beans>