<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Configuration</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<div layout:fragment="content">


		<form class="form-horizontal" th:action="@{/updateConfiguration}" th:object="${configuration}"
			action="#" method="post">

			<div th:include="../fragments/messages"/>
		    
			<fieldset>
				<legend>Raspsonar</legend>						
				<div class="control-group">
					<label th:for="email" class="control-label">Email address</label>
					<div class="controls">
						<input id="email" size="40" th:field="*{email}" th:errorclass="error" />
						<input name="mailTest" type="submit" value="Send test mail" />
					</div>
				</div>	
			</fieldset>
			<br/>
			<input type="submit" class="btn btn-primary" name="updateConfiguration"	value="Update configuration" />
		</form>
	</div>
</body>
</html>