<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<!-- Grid -->
		<div class="row">
			<div class="col-md-6">
				<p>
					<button type="button" class="btn btn-danger btn-xs" id="waterLevelError" data-toggle="popover" data-placement="bottom" th:if="${waterLevelError != null}" th:attr="data-content=${waterLevelError}">Error while contacting Raspsonar</button>
					<div th:include="../fragments/messages" ></div>
				</p>
				<p>
					<strong>Actual water level (average): </strong><span id="waterLevel" th:if="${waterLevel != null}" th:text="${waterLevel} + ' cm'"></span>
					<a class="btn btn-default btn-xs" th:href="@{/dashboard/resetAverageDistance}">Reset</a>					
					<script>
					    jQuery(function ($) {
					        $("#waterLevelError").popover()
					    });						    
					</script>	
				</p>	
				<div th:fragment="waterPump"> 
					<strong>Water pump control - Status: </strong>
                    <input type="checkbox" th:checked="${relayStatus}" disabled="disabled"/>                            
                    <a class="btn btn-success btn-xs" th:href="@{/dashboard/waterPump/true}">On </a>
					<a class="btn btn-danger btn-xs" th:href="@{/dashboard/waterPump/false}">Off</a>					
				</div>		
			</div>
			<div class="col-md-6">			
				<img class="img-responsive img-thumbnail" alt="Distance chart" style="margin: 10px" th:src="${distanceChartUrl}"/>	
			</div>
		</div>
	</div>       	
</body>
</html>