<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<title>Error</title>
</head>
<body>
	<div layout:fragment="navigationBar" />
	<div layout:fragment="content" class="container">
	<div class="row"/>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<img th:src="@{/assets/img/error.png}" alt="error"/>
			<h2 class="alert alert-warning">Error code: <span th:text="${errorCode}"/></h2>
       		<div class="alert alert-warning"><strong>Message: </strong><span th:text="${errorMessage}"/></div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
	</div>
	<div layout:fragment="footer" />
</body>
</html>