<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>smarthome</title>
<link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css" th:href="@{/assets/bootstrap/css/bootstrap.css}" media="screen" />
<link rel="stylesheet" href="../../assets/css/custom.css" th:href="@{/assets/css/custom.css}" media="screen" />
<link rel="shortcut icon" href="../../assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	
	
	<div class="container">
		<!-- Grid -->
		<div class="row">
			<div class="col-md-6">
				<p><strong>Actual water level: </strong><span id="waterLevel" th:text="${waterLevel}" ></span></p>
				<p><strong>Configuration folder: </strong><span id="confFolder" th:text="${configurationFolder}"></span></p>
			</div>
			<div class="col-md-6">			
					
			</div>
		</div>
		
		<!-- Footer -->
		<div th:include="../fragments/common :: [//footer]"></div>
	</div>       
	
</body>
</html>