<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<title>Configuration</title>
</head>
<body>
	<!-- /* Content of this page will be decorated by the elements of layout.html */ -->
	<div layout:fragment="content">


		<form class="form-horizontal" th:action="@{/updateConfiguration}" th:object="${configuration}" action="#" method="post">

			<div th:include="../fragments/messages"></div>

			<fieldset>
				<legend>Slack</legend>
				
				<div class="control-group">
					<label th:for="notificationChannel" class="control-label">Notification channel</label>
					<div class="controls">
						<input id="notificationChannel" size="40" th:field="*{slackConfiguration.notificationChannel}" th:errorclass="error" />
						<input name="slackTest" type="submit" value="Send test message" class="btn btn-default" />						
					</div>
				</div>
				<div class="control-group">
					<label th:for="locationChangeChannel" class="control-label">Location change channel</label>
					<div class="controls">
						<input id="locationChangeChannel" size="40" th:field="*{slackConfiguration.locationChangeChannel}" th:errorclass="error" />						
					</div>
				</div>
				<div class="control-group">
					<label th:for="token" class="control-label">Token</label>
					<div class="controls">
						<input id="token" size="40" th:field="*{slackConfiguration.token}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="locationChangeUsers" class="control-label">Location change users</label>
					<div class="controls">
						<input id="locationChangeUsers" size="40" th:field="*{slackConfiguration.locationChangeUsers}" th:errorclass="error" />
					</div>
				</div>
			</fieldset>
			<br />
			<fieldset>
				<legend>Raspsonar</legend>

				<div class="control-group">
					<label th:for="serviceUrl" class="control-label">Service URL</label>
					<div class="controls">
						<input id="serviceUrl" size="40" th:field="*{raspsonarConfiguration.serviceUrl}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="sonarIndex" class="control-label">Sonar index</label>
					<div class="controls">
						<input id="sonarIndex" size="3" th:field="*{raspsonarConfiguration.sonarIndex}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="relayIndex" class="control-label">Relay index</label>
					<div class="controls">
						<input id="relayIndex" size="3" th:field="*{raspsonarConfiguration.relayIndex}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="distanceThreshold" class="control-label">Distance threshold</label>
					<div class="controls">
						<input id="distanceThreshold" size="40" th:field="*{raspsonarConfiguration.distanceThreshold}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="autoPowerOffDistanceThreshold" class="control-label">Auto power off distance threshold</label>
					<div class="controls">
						<input id="autoPowerOffDistanceThreshold" size="40" th:field="*{raspsonarConfiguration.autoPowerOffDistanceThreshold}" th:errorclass="error" />
					</div>
				</div>				
			</fieldset>
			<br />
			<fieldset>			
				<legend>ZoneMinder</legend>
				<p>Specify addresses relative to Smarthome server network</p>
				<div class="control-group">
					<label th:for="automaticActivationEnabled" class="control-label" data-toggle="tooltip" data-placement="right" title="Wakes up ZM host and shutdowns it considering location change users">Automatic activation enabled</label>
					<div class="controls">
						<input id="automaticActivationEnabled" th:field="*{zoneMinderConfiguration.automaticActivationEnabled}" th:errorclass="error" type="checkbox" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="zmHost" class="control-label">Host</label>
					<div class="controls">
						<input id="zmHost" size="40" th:field="*{zoneMinderConfiguration.zmHost}"
							th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="zmHostMacAddress" class="control-label">Host MAC Address</label>
					<div class="controls">
						<input id="zmHostMacAddress" size="40" th:field="*{zoneMinderConfiguration.zmHostMacAddress}"
							th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="zmHostUser" class="control-label">Host username</label>
					<div class="controls">
						<input id="zmHostUser" size="20" th:field="*{zoneMinderConfiguration.zmHostUser}"
							th:errorclass="error" />
					</div>
				</div>				
				<div class="control-group">
					<label th:for="zmHostPassword" class="control-label">Host password</label>
					<div class="controls">
						<input id="zmHostPassword" size="20" type="text" th:field="*{zoneMinderConfiguration.zmHostPassword}"
							th:errorclass="error" />
					</div>
				</div>
			</fieldset>
			<br />
			<fieldset>			
				<legend>Gate</legend>
				<div class="control-group">
					<label th:for="serviceUrl" class="control-label">Host</label>
					<div class="controls">
						<input id="serviceUrl" size="50" th:field="*{gateConfiguration.serviceHost}" th:errorclass="error" />
					</div>
				</div>
				<div class="control-group">
					<label th:for="duration" class="control-label">Duration</label>
					<div class="controls">
						<input id="duration" size="4" th:field="*{gateConfiguration.duration}" th:errorclass="error" />
					</div>
				</div>
			</fieldset>
			<br />			
			<fieldset>
				<legend>Cameras</legend>
				<!-- Table -->
				<div class="table-responsive" th:unless="${#lists.isEmpty(configuration.cameraConfigurations)}">
					<table class="table">
						<!-- Header -->
						<thead>
							<tr>
								<th>Name</th>
								<th>Host</th>								
								<th>Alarm</th>
								<th>Enabled</th>
								<th>Actions</th>								
							</tr>
						</thead>

						<!-- Rows -->
						<tbody>
							<tr th:each="cc,row : ${configuration.cameraConfigurations}">
								<td th:text="${cc.name}">Name</td>
								<td th:text="${cc.host}">host.com</td>																
								<td>
									<input type="checkbox" disabled="disabled" th:checked="${cc.alarmEnabled}" />
								</td>
								<td>
									<input type="checkbox" disabled="disabled" th:checked="${cc.enabled}" />
								</td>		
								<td><a th:href="@{/configuration/editCamera/} + ${row.index}" class="glyphicon glyphicon-edit"></a> <a th:href="@{/configuration/removeCamera/} + ${row.index}" class="glyphicon glyphicon-remove"></a></td>							
							</tr>
						</tbody>
					</table>
				</div>

				<!-- No cameras -->
				<p th:if="${#lists.isEmpty(configuration.cameraConfigurations)}">No cameras configured</p>
				
				<a class="btn btn-default" th:href="@{/configuration/addCamera}">Add camera</a>
				
				<!-- Toggle button -->
				<div class="btn-group pull-right dropup">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Toggle all cameras <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a th:href="@{/configuration/toggleEnabledAllCameras/true}">Enable all</a></li>
				    <li><a th:href="@{/configuration/toggleEnabledAllCameras/false}">Disable all</a></li>
				    <li class="divider"></li>
				    <li><a th:href="@{/configuration/toggleAlarmAllCameras/true}">Enable alarm on all</a></li>
					<li><a th:href="@{/configuration/toggleAlarmAllCameras/false}">Disable alarm on all</a></li>
				  </ul>
				</div>
			</fieldset>
			<br /> <input type="submit" class="btn btn-primary" name="updateConfiguration" value="Update configuration" />
		</form>
		
		<script type="text/javascript">
			$(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			})
		
		</script>
	</div>
</body>
</html>