<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<!-- Grid -->
		<div class="row">
			<div class="col-md-6">
				<p>
					<button type="button" class="btn btn-danger btn-xs" id="waterLevelError" data-toggle="popover" data-placement="bottom" th:if="${waterLevelError != null}" th:attr="data-content=${waterLevelError}">Error while contacting Raspsonar</button>
					<div th:include="../fragments/messages" ></div>
				</p>
				<p>
					<strong>Basement water level: </strong><span id="waterLevel" th:if="${waterLevel != null}" th:text="${waterLevel} + ' cm'"></span>
					<a class="btn btn-default btn-xs" th:href="@{/dashboard/resetAverageDistance}">Reset</a>					
					<script th:inline="javascript">
					    
						$(function () {
						  $('[data-toggle="popover"]').popover()
						})			
					    
					    function shutdownZmHost() {
					    	$.ajax({
						    	  url: /*[[@{/dashboard/zoneminder/shutdown.json}]]*/,
						    	  method: 'POST',
						    	  accepts: 'application/json'
						    	}).done(function(data) {
						    		$("#zmMessage").text(data.status);
						    	});
					    };
					    
					    function wakeUpZmHost() {
					    	$.ajax({
						    	  url: /*[[@{/dashboard/zoneminder/wake-up.json}]]*/,
						    	  method: 'POST',
					    		  accepts: 'application/json'
						    	}).done(function(data) {
						    	  $("#zmMessage").text(data.status);
					    	  });
					    };
					    
					</script>	
				</p>	
				<p th:fragment="waterPump"> 
					<strong>Water pump: </strong>
                    <input type="checkbox" th:checked="${relayStatus}" disabled="disabled"/>                            
                    <a class="btn btn-success btn-xs" th:href="@{/dashboard/waterPump/true}">On </a>
					<a class="btn btn-danger btn-xs" th:href="@{/dashboard/waterPump/false}">Off</a>					
				</p>		
				<p th:fragment="zoneMinder"> 
					<strong>ZoneMinder: </strong>
                    <input type="checkbox" th:checked="${zmStatus}" disabled="disabled"/>                            
                    <a class="btn btn-success btn-xs" id="wakeUpButton" href="#" onclick="wakeUpZmHost()">Wake up host </a>
                    <a class="btn btn-danger btn-xs" id="shutdownButton" href="#" onclick="shutdownZmHost()">Shutdown host</a>       
                    <div id="zmMessage"></div>             	
				</p>	
			</div>
			<div class="col-md-6">			
				<img class="img-responsive img-thumbnail" alt="Distance chart not available" style="margin: 10px" th:src="${distanceChartUrl}"/>	
			</div>
			<script th:inline="javascript">
					    
						$(function () {
						  $('[data-toggle="popover"]').popover()
						});
						
			</script>
		</div>
	</div>       	
</body>
</html>