<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>	
	<footer id="center-footer" th:fragment="footer">
   		<div id="footerText" class="span12" >Copyright 2014 <a href="it.linkedin.com/in/alessandrodionisi/">Alessandro Dionisi</a> |
       	 	<a href="https://github.com/cecchisandrone/raspberrypi">Fork smarthome on Github</a> |
        	<a href="https://twitter.com/#!/cecchisandrone">Follow @cecchisandrone on Twitter</a>
   		</div>
	</footer>
</body>
</html>