<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>	
<div id="footer" >
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container navbar-inner navbar-content-center span12">
           <span th:text="${@appProp['application.name']} + ' ' + ${@appProp['application.version']}"></span>
            - Copyright 2014 <a href="https://it.linkedin.com/in/alessandrodionisi/">Alessandro Dionisi</a> |
       	 	<a href="https://github.com/cecchisandrone/raspberrypi">Fork smarthome on Github</a> |
        	<a href="https://twitter.com/#!/cecchisandrone">Follow @cecchisandrone on Twitter</a>
        </div>
    </nav>
</div>
</body>
</html>